---
layout: project
title: 项目经历 - Weiwei SUN
---
<br />

<div id="timeline">
	<p class="line-end" data-translate="recently">Recently</p>

	<ul class="item-list">
		{% for item in site.categories.works %}
		<li class="item">
			<div class="meta">
				<i class="fa fa-{{item.icon}}"></i>
				<p class="date">{{item.date | date: "%Y-%m"}}</p>
				<i class="arrow-left"></i>
			</div>

			<div class="content">
				<header>
					<div class="links">
						{% if item.gitrepo %}
						<iframe src="http://ghbtns.com/github-btn.html?user=wwsun&amp;repo={{item.gitrepo}}&amp;type=watch&amp;count=true"
						allowtransparency="true" frameborder="0" scrolling="0" width="82" height="20" class="link-item"></iframe>{% endif %}
					</div>

					<h3>{% if item.link %}<a href="{{item.link}}" target="_blank">{{item.title}}</a>{% else %}{{item.title}}{% endif %}</h3>
					<p class="tags">
						{% for tag in item.tags %}<span class="label label-default">{{tag}}</span> {% endfor %}
					</p>
				</header>

				{% if item.figures %}
				<figure>
					{% for img in item.figures %}<img src="{{img.src}}" class="img-with-shadow" {% if img.height %}height="{{img.height}}"
					{% endif %}style="max-width:{{100 | divided_by:forloop.length}}%;" />{% endfor %}
				</figure>
				{% endif %}
				<article>
					{{item.content}}
				</article>
			</div>
		</li>
		{% endfor %}
	</ul>
	<p class="line-end">...</p>

</div>