/*不能重置ul ol li，否则添加列表符号样式有问题*/
body,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input {
	margin: 0;
	padding: 0;
	border: 0;
}
@font-face {
  font-family: "TIMESB";
  src: url("../../common/font/TIMESB.TTF"); }
@font-face {
  font-family: "TIMESBI";
  src: url("../../common/font/TIMESBI.TTF"); }
@font-face {
  font-family: "MicrosoftYaHeiGB";
  src: url("../../common/font/MicrosoftYaHeiGB.ttf"); }
body{
	font-family: "TIMESB", "MicrosoftYaHeiGB";
}
sub,
sup {
	position: relative;
	font-size: 60%;
	line-height: 0;
	font-weight: bold;
}
/*sup {
	top: -.5em
}*/
sub {
	bottom: .25em
}
i {
  font-family: "TIMESBI","MicrosoftYaHeiGB";
}
/*用rem导致对话框文字巨大,简单粗暴去掉吧*/
/*.modal-dialog label{
	display: none;
}*/
/*与bootstrap.css 的样式冲突，但是小高的没有冲突（原因未知）*/
.note-toolbar .btn-group{
	display: block;
	float: left;
}
/*大背景图*/
.bg1{
    width: 10.24rem;
    min-height: 100%;
	background: url(../img/bg.jpg);
	background-size: 100%;
	position: absolute;
    margin: 0 auto; 
}
.bt{
	width: 10.24rem;
	height: 1.0rem;
	padding: 0.5rem 0 0 0.8rem;
	font-size: 0.36rem;
	line-height: 0.5rem;
	color: #ffd200;
	background: url(../img/bt.png) no-repeat;
	background-size: 100% 100%;
	z-index: 1;
	position: fixed;
	top: 0.4rem;
	box-sizing: border-box;
}
/*填空答案*/
.line{
	font-style: normal;
	border-bottom: 1px solid #fff;
	background: url(../img/fangda.svg) no-repeat right center;
}
.answer{
	opacity: 1;
	color: #FFF336;
	cursor: pointer;
}
/*表格整体样式*/
.table-content table {
	font-size: 0.2rem;
	width: 7.21rem;
	border-collapse: collapse;
	line-height: 0.3rem;
	margin: auto;
	margin-left: -2px;
	margin-top: -3px;
	margin-right: -2px;
	margin-bottom: -1px;
	color: #fff;
}
/*表头样式*/
.table-content table tr:first-child {
	background: rgba(0, 221, 255, 0.2);
	color: #fff336;
}
/*表格内容样式*/
.table-content {
	width: 7.18rem;
	margin: auto;
	border: 1px solid rgba(0, 221, 255, 0.5);
	border-radius: 5px;
	overflow: hidden;
}
/*表格边框以及行,列样式*/
.table-content table td,
.table-content table th {
	text-align: center;
	padding: 0.2rem;
	border: 1px solid rgba(0, 221, 255, 0.5);
	background: rgba(0, 221, 255, 0.1);
}
/*下部覆盖div样式*/
.scrollerx {
	bottom: 0px;
	position: fixed;
	background-image: url(../img/bg.jpg);
	background-size: 100% 100%;
	width: 10.24rem;
	height: 1.0rem;
}
/*点击图片放大出现的半透明背景*/
.black-mark{
	width: 100%;
	/*height: 100%;*/
	background: #000;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	opacity: 0.8;
	display: none;
}
/*点击放大图片的容器*/
#bg-img{
	width: 100%;
	/*height: 100%;*/
	position: absolute;
	z-index: 3;
	text-align: center;
	/*margin-top: 80px;*/
	display: none;
}
/*点击放大的大图*/
.bg-img{
	border:1px solid #00DEFF;
	border-radius: 5px;
}
/*图片版式*/
.one{
	display: block;
	width: 50%;
	height: 2.0rem;
	text-align: center;
	line-height: 1.8rem;
	padding: 0.1rem;
	margin: 0 auto;
}
.two{
	display: inline-block;
	width: 50%;
	height: 2.0rem;
	text-align: center;
	line-height: 1.8rem;
	padding: 0.1rem;
	box-sizing: border-box;
}
.three{
	display: inline-block;
	width: 33.33%;
	height: 1.6rem;
	text-align: center;
	line-height: 1.4rem;
	padding: 0.1rem 0.11rem;
	box-sizing: border-box;
}
.one img,.two img,.three img{
	border:1px solid #00DEFF;
	border-radius: 5px;
}
