<div class="well">
    <aside class="widget search-panel">
        <div class="serch-form">
            <form method="get" class="form-search" _lpchecked="1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="text" id="st-search-input" class="form-control search-query" placeholder="Search...">
                            <span class="input-group-btn">
                      <button type="submit" class="btn btn-primary btn-sm btn-default" name="submit" id="searchsubmit" value="Go" style="">
                        <span class="glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </aside>

    <aside class="widget avatar-panel">
        <div class="avatar">
            <a href="/about.html">
                <img class="img-thumbnail" src="{{ site.meta.author.image }}" style="width: 150px;">
            </a>
        </div>
    </aside>

    <aside class="widget sparkling-social">
        <h3 class="widget-title">Follow me</h3>
        <!-- social icons -->
        <div class="social-icons sticky-sidebar-social">
            <div class="social-icons sticky-sidebar-social">
                <nav id="menu-social" class="social-icons">
                    <ul id="menu-social-items" class="social-menu">
                        <li><a href="https://github.com/wwsun" title="Github" class="rss" target="_blank"><i class="social_icon fa fa-github"><span>Github</span></i></a></li>
                        <li><a href="http://weibo.com/234170023" title="Weibo" class="youtube" target="_blank"><i class="social_icon fa fa-weibo"><span>Weibo</span></i></a></li>
                        <li><a href="https://twitter.com/wsun38" title="Twitter" class="twitter" target="_blank"><i class="social_icon fa fa-twitter"><span>Twitter</span></i></a></li>
                        <li><a href="https://plus.google.com/u/0/101153267739962807712/posts" title="Google+" class="googleplus" target="_blank"><i class="social_icon fa fa-googleplus"><span>GooglePlus</span></i></a></li>
                        <li><a href="/about.html#wechatQr" title="Wechat" class="facebook" target="_blank"><i class="fa fa-weixin"><span>Wechat</span></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- end social icons -->
    </aside>
    
    <aside class="widget widget-categories">
        <h3 class="widget-title">Categories</h3>
        <ul>{% for category in site.custom.categories %}
            <li class="cat-item cat-item-14">
                <a href="/category/{{ category.name }}/"> {{ category.title}} </a>{% endfor %}</ul>
    </aside>
    
    <aside class="widget">
        <h3 class="widget-title">Powered by</h3>
        <p>
            <a href="https://github.com/" target="_blank">GitHub</a>,
            <a href="https://github.com/mojombo/jekyll" target="_blank">jekyll</a>
        </p>
        <hr />
        <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.5/cn/" target="_blank" class="hide-target-icon" title="Copyright declaration of site content"><img alt="知识共享许可协议" src="http://i.creativecommons.org/l/by-nc-nd/2.5/cn/88x31.png" /></a>
        </p>
    </aside>
</div>