<!DOCTYPE html>
<html>
    
    {% include head.html %}

    <body>
	{% include header.html %}

        <div class="container">
            <div class="row" style="text-align: center;">
                <br>
                <br>
                <img class="img-circle" src="{{ site.meta.author.image }}" alt='user_avater' style="width: 150px;"/>
            </div>

            <div class="row col-md-8 col-md-offset-2">
                <h2 class="text-center">Hi, I am {{ site.meta.author.name }}</h2>
                <article>{{ content }}</article>
            </div>

            <div class="row col-md-8 col-md-offset-2">
                <h2 class="text-center">Contact</h2>
                <br>
                <p class="text-center">
                    <i class="fa fa-envelope fa-2x"></i>&#9;<a>ww.sun@outlook.com</a>
                    <i class="fa fa-weibo fa-2x"></i>&#9;<a href="http://weibo.com/swwol" target="_blank">weibo.com/swwol</a>
		    <i class="fa fa-github fa-2x"></i>&#9;<a href="http://www.github.com/wwsun" target="_blank">github.com/wwsun</a>
                </p>
            </div>
            
	    <div class="row col-md-8 col-md-offset-2" style="text-align: center;">
		    <img id="wechatQr" class="img-rounded" src="/img/site/qr-wechat.jpg" alt="wechat_qr"/>
		    <p>Scan the QR Code to add me on WeChat </p>
        </div>

            <div class="row col-md-8 col-md-offset-2 centered">
                <br>
                <h2 class="text-center">Latest Reading</h2>
                <div class='centered'>
                 <script src="http://www.douban.com/service/badge/swwol32/?selection=latest&amp;picsize=medium&amp;show=collection&amp;n=18&amp;hidelogo=on&amp;cat=book&amp;columns=6"></script>
                </div>
            </div>
        </div>

	{% include footer.html %}

    </body>
</html>
