<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container main-content-area">
      <div class="col-sm-12 col-md-8 pull-left">
        {{ content }}
      </div>
            <div id="secondary" class="widget-area col-sm-12 col-md-4" role="complementary">
                <div class="well">
                    <aside id="search-2" class="widget widget_search"><form method="get" class="form-search" action="">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <input type="text" class="form-control search-query" value="" name="s" id="s" placeholder="Search...">
                                    <span class="input-group-btn">
                                      <button type="submit" class="btn btn-primary btn-sm btn-default" name="submit" id="searchsubmit" value="Go" style=""><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form></aside>
                    <aside id="text-2" class="widget widget_text">
                        <div class="textwidget">
                            <div>
                                <img class="img-thumbnail" src="{{ site.meta.gravatar}}{{ site.meta.author.gravatar }}?s=100">
                            </div>
                        </div>
                    </aside>
                    <aside id="sparkling-social-2" class="widget sparkling-social"><h3 class="widget-title">Follow me</h3>
                        <!-- social icons -->
                        <div class="social-icons sticky-sidebar-social">
                            <div class="social-icons">
                                <a href="https://github.com/wwsun" title="Follow me on Github" class="rss" target="_blank"><i class="social_icon fa fa-github"></i></a>
                                <a href="http://weibo.com/234170023" title="Follow me on Weibo" class="youtube" target="_blank"><i class="social_icon fa fa-weibo"></i></a>
                                <a href="https://twitter.com/wsun38" title="Follow me on Twitter" class="twitter" target="_blank"><i class="social_icon fa fa-twitter"></i></a>
                                <a href="https://plus.google.com/u/0/101153267739962807712/posts" title="Follow me on Google+" class="googleplus" target="_blank"><i class="social_icon fa fa-googleplus"></i></a>
                                <a href="" title="Follow me on Weixin" class="facebook" target="_blank"><i class="fa fa-weixin"></i></a>
                            </div>
                        </div><!-- end social icons -->


                    </aside>
                    <aside id="categories-2" class="widget widget_categories"><h3 class="widget-title">Categories</h3>				
			<ul>
			{% for category in site.custom.categories %}
			<li class="cat-item cat-item-14"><a href="/category/{{ category.name }}/"> {{ category.title}} </a>
			{% endfor %}
                    </ul>
                    </aside>
                    <aside class="widget">
                        <h3 class="widget-title">Powered by</h3>
			<p>
                            <a href="http://disqus.com/" target="_blank">Disqus</a>,
                            <a href="https://github.com/" target="_blank">GitHub</a>,
                            <a href="http://www.google.com/cse/" target="_blank">Google Custom Search</a>,
                            <a href="http://en.gravatar.com/" target="_blank">Gravatar</a>,
                            <a href="http://softwaremaniacs.org/soft/highlight/en/">HighlightJS</a>,
                            <a href="https://github.com/mojombo/jekyll" target="_blank">jekyll</a>,
                            <a href="http://v3.bootcss.com/" target="_blank">Bootstrap</a>
                        </p>
			<hr />
			<p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.5/cn/" target="_blank" class="hide-target-icon" title="Copyright declaration of site content"><img alt="知识共享许可协议" src="http://i.creativecommons.org/l/by-nc-nd/2.5/cn/88x31.png" /></a></p>
                    </aside>
                </div>
            </div>
    </div><!--container-->

    {% include footer.html %}

        {% for script in page.scripts %}<script src="{{ script }}"></script>
        {% endfor %}
        <script>

        <!--Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-53482289-1', 'auto');
          ga('send', 'pageview');

        </script>

  </body>

</html>
