<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
    <div id="content" class="site-content">
        <div class="container main-content-area">
            <div class="row pull-left">
                <div class="main-content-inner col-sm-12 col-md-8">
                    {{ content }}
                </div>
                
                <div id="secondary" class="widget-area col-sm-12 col-md-4" role="complementary">
                    {% include sidebar.html %}
                </div>
            </div>
            
        </div>
    </div>

{% include footer.html %}

{% for script in page.scripts %}
    <script src="{{ script }}"></script>
{% endfor %}
</body>
</html>